language: go

# You don't need to test on very old versions of the Go compiler. It's the user's
# responsibility to keep their compiler up to date.
go:
  - 1.11.x
  - 1.12.x
  - tip
go_import_path: github.com/TimSatke/gojis

env:
  - GO111MODULE=on

matrix:
  # It's ok if our code fails on unstable development versions of Go.
  allow_failures:
    - go: tip
  # Don't wait for tip tests to finish. Mark the test run green if the
  # tests pass on the stable versions of Go.
  fast_finish: true

# Don't email me the results of the test runs.
notifications:
  email: false

# Anything in before_script that returns a nonzero exit code will flunk the
# build and immediately stop. It's sorta like having set -e enabled in bash.
before_script:
  - go get gotest.tools/gotestsum
  - go get github.com/securego/gosec/cmd/gosec

script:
  - gosec -quiet ./... # run vulnerability analysis
  - gotestsum --raw-command go test -json -race -v -coverprofile=coverage.txt -covermode=atomic -short ./... # -short flag will be removed when parser is done
